HOST=0.0.0.0
PORT=1337
APP_KEYS=replace-with-random-key-1,replace-with-random-key-2
API_TOKEN_SALT=replace-with-random-salt
ADMIN_JWT_SECRET=replace-with-random-secret
TRANSFER_TOKEN_SALT=replace-with-random-salt
JWT_SECRET=replace-with-random-jwt-secret

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

FRONTEND_URL=http://localhost:5173

CLOUDINARY_NAME=your-cloud-name
CLOUDINARY_KEY=your-api-key
CLOUDINARY_SECRET=your-api-secret
